.blog-date {
    text-transform: uppercase;
    color: #bdbdbd;
    margin-bottom: 1em;
}

.tips {
    .entry-content {
        .blog-read-more {
            text-decoration: underline;
            text-transform: uppercase;
            color: #012b3f;
            
            &:hover {
                color: #bfda46;
            }
        }
    }
}
