.evenementen {
    .evenement-btn {
        display: block;
        color: #012b3f;
        width: 100%;
        border: 1px solid #012b3f;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        padding: .75em 0;

        &:hover {
            background-color: #012b3f;
            color: white;
        }
    }

    .date {
        color: $green;
        font-weight: bold;
    }

    .entry-content {
        padding-top: 15px;
    }
}

.evenement-date {
    position: relative;
    border: none;
    text-transform: uppercase;
    color: #bfda46;
    font-weight: bold;

    &.rpwe-time {
        color: #bfda46;
    }
}

.blog-pinterest-style {
    &:hover article {
        box-shadow: none;
    }

    .entry-content {
        border: none;
    }

    h3 a {
        font-size: 1.2em;
    }

    article {
        &.hentry {
            margin-bottom: 1.5em;
        }
    }
}