.home-quote {
  width: 87%;
  margin: 3em auto;
}

.home-tips h3.section-title span {
  font-size: 50%;
  padding-bottom: 0em;
  border-bottom: 0;
}

.home-tips .blog_shortcode_text {
  text-align: left;
}

.home-tips .entry-image {
  display: none !important;
}

.home-tips .text-center .tx-div {
  margin: 15px 0;
}

.home-tips .from_the_blog_comments {
  display: none;
}

.home-collectie {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  margin-bottom: 6em;
  position: relative;
}

.home-collectie .title {
  position: absolute;
  top: 40%;
  text-align: center;
  z-index: 10;
  width: 100%;
}

.home-collectie .title h2 {
  color: white;
  font-size: 300%;
  font-weight: 200;
  text-shadow: 2px 2px 3px #111;
}

.home-collectie .ux_banner {
  overflow: visible;
}

.home-collectie .ux_banner .inner.bottom {
  width: 96% !important;
  left: 0;
  right: 0;
  bottom: -10% !important;
  background: #e5e9eb;
  height: 2.5em;
  padding-top: 1em;
  display: none;
  color: #022b40;
  font-size: 2em;

}

.home-collectie .ux_banner:hover .inner.bottom {
  display: block;
}

.home-collectie p {
  color: black;
  font-size: 2em;
}

.home-collectie .columns {
  padding: 0 !important;
}