.merken-overview article {
    position: relative;
}

.merken-overview img {
    position: relative;
    z-index: 10;
    margin-left: -3px;
    padding: 5%;
}

.merken-overview [class*="column"] + [class*="column"]:last-child {
    float: left;
}

.merken-overview .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(1, 43, 63, .7);
}

.merk-image {
    height: 150px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

@media only screen and (max-width: 767px) {
    .merk-image {
        height: 20em;
    }
}

.merk-image {
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        img {
            vertical-align: middle;
        }
    }
}

.merk-info {
    margin-bottom: 3em;

    .logo {
        padding: 0 .5em;
    }
}

.ux_banner.hover_fade {
    background-color: #012b3f !important;
}

.merk-photo {

    img,
    .entry-content {
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }

    &:hover {
        .entry-content {
            opacity: 1;
        }

        img {
            opacity: .3;
        }
    }

    article {
        background-color: #012b3f !important;
    }

    .entry-content {
        position: absolute;
        top: 25%;
        width: 90%;
        text-align: center;
        color: white;
        opacity: 0;
    }

    h3 {
        color: white;
    }
}