.team-member {
    &.featured-box {
        h4 span {
            font-weight: bolder;
        }
    }
    
    .tx-div.small {
        width: 0px;
        margin: 0;
    }

    .circle {
        max-width: 220px;
    }
}
