.blog-share {
    text-align: right;
    margin-top: 0;
    display: inline-block;
    width: 29%;
}

footer.entry-meta {
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;

    .date-container {
        width: 70%;
        display: inline-block;
        font-size: 12px;
    }

    .evenement-date {
        display: inline-block;
    }

    .single-date {
        text-transform: uppercase;
    }
}

.navigation-post {
    border: none;

    a {
        padding: 15px 20px;
        text-decoration: underline;
    }

    > div {
        width: 49%;
    }
}

.icon-calendar {
    width: 14px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}