.cc-wrapper {
    margin-bottom: 5em;

    .contest-image {
        width: 40%;
    }

    .dot {
        border: 1px solid $green;
        color: $green;
        border-radius: 50%;
        width: 40px;
        display: inline-block;
        height: 40px;
        text-align: center;
        margin-right: .5em;
        font-weight: 200;
        line-height: 40px;
    }

    section {
        padding-left: 10%;
    }

    b {
        color: $green;
    }

    b,
    h1,
    h2,
    h3 {
        font-weight: 700;
    }

    h2 {
        margin: 1.5em 0 !important;
    }

    h1 {
        font-size: 40px;
    }

    .fb-like-box {
        text-align: left;
    }

    .inline {
        display: inline-block;
    }

    input[type='text'],
    input[type='email'] {
        height: 40px;
        padding-left: 10px;
    }

    input[type='submit']:hover {
        background: $green;
        color: #000000;
    }

    label {
        display: inline-block;
    }

    .width60 {

        width: 49%;
        margin-right: 1%;

    }
    .width40 {
        width: 49%;
    }

    .error {
        color: #ec694b;
    }

    .fb-share {
        background: #005591;
        margin-left: 45px;

        &:before {
            content: '';
            position: absolute;
            left: -45px;
            height: 100%;
            width: 45px;
            background-image: url(img/fb.jpg);
            top: 0;
        }
    }

    @media (max-width: 700px) {
        display: block;

        .contest-image {
            height: 300px;
            min-height: initial;
            margin-bottom: 2em;
        }

        .contest-image,
        .active {
            display: block !important;
            padding-left: 0;
        }

        .contest-image,
        section {
            width: 100%;
        }
    }
    @media (max-width: 400px) {
        .width60 {
            width: 100%;
        }
        .width40 {
            width: 100%;
        }
    }
}