.large-1-2-wrap {
    width: 60%;
    display: inline-block;

    input {
        width: 100% !important;
        margin-bottom: 0 !important;
    }
}

.right-wrap {
    float: right;
}

.small-1-2-wrap {
    width: 37%;
    //float: right;
    display: inline-block;

    input {
        width: 100% !important;
        margin-bottom: 0 !important;
    }
}

.page-id-3204,
.page-id-2896 {
    label {
        display: none !important;
    }

    input {
        padding: 14px;
    }
}

