.widget {
    h2 {
        text-transform: uppercase;
        font-size: 1.2em;
    }

    .tx-div.small {
        display: none;
    }
}

.widget-title {
    margin-bottom: 1em;
}

.cadeaubon-widget-img {
    display: block;
    position: relative;
    background-image: url('img/cadeaubon.jpg');
    background-size: cover;
    height: 150px;
    width: 100%;

    h3 {
        position: absolute;
        font-size: 1.2em;
        color: white;
        text-align: center;
        padding: .25em;
        margin: 0;
        top: 50%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
