@media only screen and (max-width: 48em) {
    #masthead .left-links, .wide-nav, #top-bar .right-text {
        display: none !important;
    }
}

.mfp-close-btn-in .mfp-close {
    color: white;
}

.entry-content > h2 {
    margin-bottom: 2em;
}

.evenementen .entry-content a,
.tips .entry-content a, {
    color: #bfda46;
    text-decoration: underline;
}

.entry-content .entry-title a {
    color: rgba(1, 43, 63, 1);
    text-decoration: none;
}

.ux_banner.hover_fade {
    background-color: #012b3f !important;
}

.ux_banner.hover_fade .banner-bg {
    opacity: 0.3;
}

.author-box {
    display: none;
}

/**
* Other
*
.ux_banner h1,  .ux_banner h2, .ux_banner h3, .ux_banner h4  {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.9);
}
*/

.message-box {
    margin-bottom: 25px;
}

.large-3 .iosSlider {
    margin-bottom: 0px;
}

#masthead .right-links, #top-bar {
    /*display: none; */
}

.search-dropdown {
    position: absolute;
    right: 1em;
    top: 1em;
}

.left-links .search-dropdown .nav-dropdown {
    margin-left: -232px;
}

.nav-dropdown > .row:after {
    left: 206px;
}

.social-icons .icon, .yith-wcwl-share li a {
    border: none;
}

.right-links .email {
    color: #000000;
    opacity: 0.5;
    margin-right: 1em;
}

.right-links .email {
    color: #000000;
    opacity: 0.5;
    margin-right: 1em;
}

#logo {
    position: relative;
    z-index: 10;
}

#logo a {
    padding-top: 1em;
}

.top-divider {
    margin-top: -1.7em;
    z-index: 0;
}

.menu-item {
    border-bottom: 3px solid #ffffff;
}

.current_page_item {
    border-bottom: 3px solid #bfda46;
}

#masthead .left-links {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 1.7em;
}

#masthead .right-links {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 1.5em;
}

.current_page_item {
    position: relative;
}

.current_page_item:after {
    content: '';
    p: a
}

ul.header-nav li a {
    font-size: 72% !important;
}

.catalog-mode-header, .social-icons span {
    font-size: 12px !important;
    text-transform: uppercase;
}